node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
*.mp4*
*.gif*
*.exe
__pycache__
.vscode
.tar.gz
/usefulApps/backend/src/*.exe
/usefulApps/backend/src/tmp/*.exe
usefulServices.code-workspace
/usefulApps/executors/dotnet/currenciesService/.vs
/usefulApps/executors/dotnet/currenciesService/bin
/usefulApps/executors/dotnet/currenciesService/obj
/usefulApps/executors/dotnet/InnerLogic/bin
/usefulApps/executors/dotnet/InnerLogic/obj